body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/**                App.jsx                    */

.App {
  text-align: center;
}

.App-header {
  background: linear-gradient(20deg,#ec9d53, rgb(84, 234, 245),rgb(68, 78, 226));
  padding: 40px;
  color: rgb(235, 241, 243);
}

.App-title {
  font-family: 'Bubblegum Sans', cursive;
  font-size: 6em;
}

.App-pretitle {
  font-family: 'Bubblegum Sans', cursive;
  font-size: 3em;
  position: relative;
  top: 20px;
}

.app-error {
  text-transform: capitalize;
  padding-top: 1em;
  color: #ee2c17;
}


/**                SearchBar.jsx                    */

.Bar-title {
  color: #e74c3c;
  font-size: 1.5rem;
  padding: 0.8rem 0 0.2rem 0;
  font-family: 'Source Sans Pro', sans-serif;

}

.Bar-button {
  border: solid 2px #e74c3c;
  background: transparent;
  padding: 0.4rem 0.6rem;
  margin: 0 0.2rem;
  border-radius: 3px;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 0.7rem;
}

.Bar-box {
  border-radius: 5px;
  margin-right: 1rem;
  margin-bottom: 15px;
}

/**                WeatherCard.jsx                    */

h5 {
  font-size: 25px !important;
  padding: 1vw;
}

.weather-icon {
  width: 100px;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 2px solid #3ce7e7;
  border-radius: 40px;
  padding: 1vw;
  margin: 2vw;
  width: 60vw;
  position: absolute;
  left: 18%;
}

.column-one {
  padding: 2vw;
  border-radius: 5px;
}

.column-two {
  padding: 2vw;
  border-radius: 5px;
}

.column-three {
  padding: 2vw;
  border-radius: 5px;
}

/**                ForecastStrip.jsx                    */
.forecast-strip {
  display: flex;
  justify-content: space-evenly;
  margin: 1vw;
  width: 95vw;
  height: 23vw;
}

.forecast-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2em;
  color: #e74c3c;
}


/**                ForecastCard.jsx                    */

.forecast-card {
  width: 225px;
  margin: 5px;
  background: rgb(255, 253, 252);
  text-align: baseline;
  border:solid 2px #e74c3c;
  border-radius: 40px;
}

.card-dayName {
  font-size: 30px !important;
  padding: 1vw;
}

.for-icon {
  width: 100px;
}

.temp-max {
  padding: 1vw;
  margin-right: 8vw;
}

.temp-min {
  padding: 1vw;
  float: right;
  margin-top: -5vw;
}

/**                Details.jsx                    */

.details-strip {
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;
  margin: 1vw;
  width: 95vw;
  height: 63vw;
}

.details-card {
  margin: 5px;
  background: rgb(255, 253, 252);
  text-align: baseline;
  border:solid 2px #3ce7e7;
  border-radius: 40px;
  padding-top: 25px;
}

h6 {
  font-size: 20px !important;
  padding: 1vw;
}

.details-row-one {
  padding: 1vw;
  padding: 5px;
  height: 18vw;
}

.details-row-two {
  padding: 1vw;
}
